div {
    max-width: 600px;
    margin:  50px auto;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #eeeeee;
  }
   
   
  h2{
    text-align: center;
    color: #333;
    padding-top: 10px;
   }
   
   
  form {
    margin-bottom: 20px;
    margin-left: 30px;
   
  }
   
  label {
    display: block;
    margin-bottom: 5px;
  }
   
  input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
  }
   
   
  .btn-primary {
    text-align: center;
    background: linear-gradient(215deg, #546e7a, #37474f);
    color: #fff;
    border: none;
    width: 90%;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
  }
   
  .btn-primary:hover {
    background-color: #7aaee5;
  }
   
   
  ul {
    list-style-type: none;
    padding: 0;
  }
   
  li {
    margin-bottom: 10px;
  }
   
  button {
    padding: 5px;
    cursor: pointer;
  }
   
  .login{
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 150px;
  }
   
  .login a{
   
    text-decoration: none;
    text-decoration-color: #7aaee5;
  }