
.navbar2{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

}
.navbar-brand {
  margin-left: 5px;
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 15px;
}
