<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="addjob">

    <form [formGroup]="jobOpeningForm" (ngSubmit)="submitForm()">
      <h3 class="text-center text-light">Add Job Opening</h3>
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>
    
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" required></textarea>
    
      <label for="requirements">Requirements:</label>
      <input type="text" id="requirements" formControlName="requirements" required>
    
      <label for="responsibilities">Responsibilities:</label>
      <input type="text" id="responsibilities" formControlName="responsibilities" required>
    
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="active">Active</option>
        <option value="closed">Closed</option>
      </select>
    
      <button type="submit">Submit</button>
    </form>
     
  </div>

</body>

</html>