<!-- home.component.html -->
<!-- <div *ngIf="isRecruiter()">
   
    <app-resource-requirements></app-resource-requirements>
  </div>
  
  <div *ngIf="isHRManager()">
   
    <app-hr-discussion></app-hr-discussion>
  </div> -->
  
  <!-- Add similar conditions for other roles -->
<div class="flex-container">

  <div>
    <app-discussion-details></app-discussion-details>
  </div>
  <div>
    <app-level1-feedback></app-level1-feedback>
  </div>
  <div>
    <app-level2-feedback></app-level2-feedback>
  </div>
  <div>
    <app-resource-requirements></app-resource-requirements>
  </div>
  <div>
    <app-hr-discussion></app-hr-discussion>
  </div>
</div>
  
  